<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ReceiveSMS</servlet-name>
        <servlet-class>smscontroller.receivesms.ReceiveSMSServlet</servlet-class>
        <init-param>
            <param-name>frozen_check_query_name</param-name>
            <param-value>receivesms_frozen_check</param-value>
        </init-param>
        <init-param>
            <param-name>default_response</param-name>
            <param-value>Thank you for your SMS</param-value>
        </init-param>
        <init-param>
            <param-name>frozen_response</param-name>
            <param-value>Temporarily unavailable</param-value>
        </init-param>
        <init-param>
            <param-name>logger_query_name</param-name>
            <param-value>log_sms_reception</param-value>
        </init-param>
        <init-param>
            <param-name>ip_verification_query_name</param-name>
            <param-value>receivesms_ip_verification</param-value>
        </init-param>
        <init-param>
            <param-name>invalid_command_response</param-name>
            <param-value>Invalid command</param-value>
        </init-param>
        <init-param>
            <param-name>permission_denied_response</param-name>
            <param-value>Permission denied</param-value>
        </init-param>
        <init-param>
            <param-name>secure_check_query_name</param-name>
            <param-value>command_security_check</param-value>
        </init-param>
        <init-param>
            <param-name>permission_check_query_name</param-name>
            <param-value>receivesms_user_permission_check</param-value>
        </init-param>
        <init-param>
            <param-name>command_execution_failed_response</param-name>
            <param-value>Command execution failed due to Insufficient Parameters</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>SendSMS</servlet-name>
        <servlet-class>smscontroller.sendsms.SendSMSServlet</servlet-class>
        <init-param>
            <param-name>sms_gateway_details_file_name</param-name>
            <param-value>gatewaydetails.properties</param-value>
        </init-param>
        <init-param>
            <param-name>ip_verification_query_name</param-name>
            <param-value>sendsms_ip_verification</param-value>
        </init-param>
        <init-param>
            <param-name>sending_failed_invalid_ip</param-name>
            <param-value>1</param-value>
        </init-param>
        <init-param>
            <param-name>sending_failed_frozen_field</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>sending_successful</param-name>
            <param-value>Message has been sent</param-value>
        </init-param>
        <init-param>
            <param-name>logger_query_name</param-name>
            <param-value>log_mail_sending_attempt</param-value>
        </init-param>
        <init-param>
            <param-name>sendsms_frozen_check_query_name</param-name>
            <param-value>sendsms_frozen_check</param-value>
        </init-param>
        <init-param>
            <param-name>sendsms_subscription_check_query_name</param-name>
            <param-value>sendsms_subscription_check</param-value>
        </init-param>
        <init-param>
            <param-name>sending_failed_unsubscribed</param-name>
            <param-value>User has not subscribed to receive SMS</param-value>
        </init-param>
        <init-param>
            <param-name>sending_failed_ip</param-name>
            <param-value>Your IP address is not in the list of allowed IP addresses</param-value>
        </init-param>
        <init-param>
            <param-name>max_concurrent_smsserver_hits</param-name>
            <param-value>300</param-value>
        </init-param>
        <init-param>
            <param-name>delay_between_successive_reqgroup</param-name>
            <param-value>1000</param-value>
        </init-param>
        <init-param>
            <param-name>add_new_request_query_name</param-name>
            <param-value>add_new_request_query</param-value>
        </init-param>
        <init-param>
            <param-name>add_all_recipients_query_name</param-name>
            <param-value>add_all_recipients_query</param-value>
        </init-param>
        <init-param>
            <param-name>fetch_oldest_request_query_name</param-name>
            <param-value>fetch_oldest_request_in_pool</param-value>
        </init-param>
        <init-param>
            <param-name>fetch_oldest_mobile_query_name</param-name>
            <param-value>fetch_oldest_mobile_query</param-value>
        </init-param>
        <init-param>
            <param-name>sending_failed_invalid_params</param-name>
            <param-value>Invalid parameters</param-value>
        </init-param>
        <init-param>
            <param-name>sending_failed_blank_message</param-name>
            <param-value>3</param-value>
        </init-param>
        <init-param>
            <param-name>update_single_completion_query_name</param-name>
            <param-value>update_single_completion</param-value>
        </init-param>
        <init-param>
            <param-name>update_request_completion_query_name</param-name>
            <param-value>update_request_completion_query</param-value>
        </init-param>
        <init-param>
            <param-name>queries_properties_file_name</param-name>
            <param-value>queries.properties</param-value>
        </init-param>
        <init-param>
            <param-name>sending_failed_unknown</param-name>
            <param-value>Message sending failed</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>SubscriptionCheck</servlet-name>
        <servlet-class>smscontroller.sendsms.SubscriptionCheck</servlet-class>
        <init-param>
            <param-name>sendsms_subscription_check_query_name</param-name>
            <param-value>sendsms_subscription_check</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>VerifySubscriptionID</servlet-name>
        <servlet-class>smscontroller.helpers.VerifySubscriptionID</servlet-class>
        <init-param>
            <param-name>subscription_verification_query_name</param-name>
            <param-value>get_subscription_id</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>SendSmsBypassSubscription</servlet-name>
        <servlet-class>smscontroller.sendsms.SendSmsBypassSubscription</servlet-class>
        <init-param>
            <param-name>sms_gateway_details_file_name</param-name>
            <param-value>gatewaydetails.properties</param-value>
        </init-param>
        <init-param>
            <param-name>ip_verification_query_name</param-name>
            <param-value>sendsms_ip_verification</param-value>
        </init-param>
        <init-param>
            <param-name>sending_failed_invalid_ip</param-name>
            <param-value>1</param-value>
        </init-param>
        <init-param>
            <param-name>sending_failed_frozen_field</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>sending_successful</param-name>
            <param-value>Message has been sent</param-value>
        </init-param>
        <init-param>
            <param-name>logger_query_name</param-name>
            <param-value>log_mail_sending_attempt</param-value>
        </init-param>
        <init-param>
            <param-name>sendsms_frozen_check_query_name</param-name>
            <param-value>sendsms_frozen_check</param-value>
        </init-param>
        <init-param>
            <param-name>sendsms_subscription_check_query_name</param-name>
            <param-value>sendsms_subscription_check</param-value>
        </init-param>
        <init-param>
            <param-name>sending_failed_unsubscribed</param-name>
            <param-value>User has not subscribed to receive SMS</param-value>
        </init-param>
        <init-param>
            <param-name>sending_failed_ip</param-name>
            <param-value>Your IP address is not in the list of allowed IP addresses</param-value>
        </init-param>
        <init-param>
            <param-name>max_concurrent_smsserver_hits</param-name>
            <param-value>300</param-value>
        </init-param>
        <init-param>
            <param-name>delay_between_successive_reqgroup</param-name>
            <param-value>1000</param-value>
        </init-param>
        <init-param>
            <param-name>add_new_request_query_name</param-name>
            <param-value>add_new_request_query</param-value>
        </init-param>
        <init-param>
            <param-name>add_all_recipients_query_name</param-name>
            <param-value>add_all_recipients_query</param-value>
        </init-param>
        <init-param>
            <param-name>fetch_oldest_request_query_name</param-name>
            <param-value>fetch_oldest_request_in_pool</param-value>
        </init-param>
        <init-param>
            <param-name>fetch_oldest_mobile_query_name</param-name>
            <param-value>fetch_oldest_mobile_query</param-value>
        </init-param>
        <init-param>
            <param-name>sending_failed_invalid_params</param-name>
            <param-value>Invalid parameters</param-value>
        </init-param>
        <init-param>
            <param-name>sending_failed_blank_message</param-name>
            <param-value>3</param-value>
        </init-param>
        <init-param>
            <param-name>update_single_completion_query_name</param-name>
            <param-value>update_single_completion</param-value>
        </init-param>
        <init-param>
            <param-name>update_request_completion_query_name</param-name>
            <param-value>update_request_completion_query</param-value>
        </init-param>
        <init-param>
            <param-name>queries_properties_file_name</param-name>
            <param-value>queries.properties</param-value>
        </init-param>
        <init-param>
            <param-name>sending_failed_unknown</param-name>
            <param-value>Message sending failed</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReceiveSMS</servlet-name>
        <url-pattern>/pullSms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendSMS</servlet-name>
        <url-pattern>/sendSms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubscriptionCheck</servlet-name>
        <url-pattern>/sendSms/subscriptionCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifySubscriptionID</servlet-name>
        <url-pattern>/verifySubscriptionID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendSmsBypassSubscription</servlet-name>
        <url-pattern>/sendSmsBypassSubscription</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
